<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta content="" name="description">
        <meta content="" name="keywords">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="HandheldFriendly" content="true">
        <meta content="telephone=no" name="format-detection">
        <!-- favicon -->
        <!-- <link rel="shortcut icon" type="image/png" href="favicon.png" /> -->
        <!--[if (gt IE 9)|!(IE)]><!-->
        <!-- custom CSS -->
        <link href="css/main.css" rel="stylesheet" type="text/css" />
        <!-- END custom CSS -->
        <!--<![endif]-->
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <title>News</title>
    </head>
    <body>
      <!-- Header -->
      <header id="header" class="header">
          <div class="header__top">
              <div class="container">
                  <div class="row" style="height:70px;">
                      <div class="col-sm-3">
                          <div class="wrap-logo">
                              <a href="/" class="logo"></a>
                          </div>
                      </div>
                      <div class="col-sm-offset-2 col-md-offset-5 col-sm-6 col-md-4 hidden-xs">
                          <div class="col-xs-4 col-sm-5">
                            <p class="userName"></p>
                          </div>
                          <div class="col-xs-6 col-sm-7">
                              <div class="sign">
                                  <a href="./sign"><span>sign</span></a>
                              </div>
                              <div class="logout" style="display:none">
                                  <a href="./logout"><span>logout</span></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="wsmenucontent overlapblackbg"></div>
          <div class="wsmenuexpandermain slideRight">
              <a id="navToggle" class="animated-arrow slideLeft">
                  <span></span>
              </a>
          </div>
          <div class="header_down">
              <div class="container">
                  <div class="wrapper clearfix bigmegamenu">
                      <!--Main Menu HTML Code-->
                      <nav class="wsmenu slideLeft clearfix">
                          <ul class="mobile-sub wsmenu-list">
                              <li class="visible-xs">
                                  <form class="navbar-form mob_search" role="search">
                                      <div class="form-group">
                                          <input type="text" class="form-control" placeholder="Search">
                                      </div>
                                      <button type="submit" class="btn btn-search">
                                          <i class="icon-search"></i>
                                      </button>
                                  </form>
                              </li>

                              <li class="active">
                                  <span class="wsmenu-click"></span>
                                  <a href="/">主页</a>
                              </li>
                              <li>
                                  <span class="wsmenu-click"></span>
                                  <a href="category?type=1">考研</a>
                              </li>
                              <li>
                                  <span class="wsmenu-click"></span>
                                  <a href="category?type=2">工作</a>
                              </li>
                              <li>
                                  <span class="wsmenu-click"></span>
                                  <a href="category?type=3">留学</a>
                              </li>
                              <li>
                                  <span class="wsmenu-click"></span>
                                  <a href="category?type=4">校园活动</a>
                              </li>
                              <li>
                                  <span class="wsmenu-click"></span>
                                  <a href="category?type=5">社会热点</a>
                              </li>
                              <li>
                                  <span class="wsmenu-click"></span>
                                  <a href="category?type=6">爱豆</a>
                              </li>

                              <li class="navbar-right hidden-xs">
                                <form class="navbar-form" role="search" action="/search" method="get">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search" name="search">
                                    </div>
                                    <button type="submit" class="btn btn-search">
                                        <i class="icon-search"></i>
                                        <br/>Search
                                    </button>
                                </form>
                              </li>
                          </ul>
                      </nav>
                      <!--Menu HTML Code-->
                  </div>
              </div>
          </div>
      </header>
      <!-- END header -->
        <!-- header slider -->
        <div class="wrapper">
            <article class="container articles">
                <div class="row">
                    <div class="col-sm-12 col-md-9 p0 wrap-headline">
                        <img src="img/content/article.jpg" alt="img" class="wrap-headline__img">
                        <div class="headline clearfix">
                            <div class="headline__data">
                                <a data-toggle="modal" href="#myModal" class="headline__category headline__category_red" style="display:none">删除</a>
                                <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-body">
                                        <p>确认删除？</p>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                        <button type="button" class="btn btn-primary" id="delete">确认</button>
                                      </div>
                                    </div>
                                  </div>
                                </div> -->
                                <a href="/category?type=<%=xinwen.type%>" class="headline__category headline__category_orange"><%=typeList[(xinwen.type-1)] %></a>
                                <p class="headline__category"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-9 article_text">
                        <div class="current">
                        </div>
                    </div>
                    <div class="col-sm-9 col-md-8 col-lg-6 comments">
                        <p class="comments__title">Comments</p>
                        <div id='comments'>

                        </div>
                        <div class="comments__form">
                            <div >
                                <div class="form-group">
                                    <textarea name="content" id="content" class="form-control" rows="7" required="required" ></textarea>
                                </div>
                                <button  class="btn btn-comment">send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <!-- Footer -->
        <footer class="footer slate_gray">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="copyright">Copyright &copy; 2017.Company name All rights reserved.</p>
                    </div>
                    <div class="col-sm-6">
                        <div class="social navbar-right">
                            <ul class="social__list">
                                <li class="social__item">
                                    <a href="www.baidu.com">
                                        <i>百度</i>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a href="http://www.sina.com.cn">
                                        <i>新浪</i>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a href="http://www.sohu.com">
                                        <i>搜狐</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- END Footer -->
        <!-- All JavaScript libraries -->
    <script>
      //dataset
      var dataset={
        User:<%- JSON.stringify(yonghu) %>,
        news:<%- JSON.stringify(xinwen) %>,
        comments:<%- JSON.stringify(pinglun) %>,
        typelist:<%- JSON.stringify(typeList) %>
      };
      console.debug(dataset);
    </script>
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<!-- Custom JavaScript -->
    <script src="js/main.js"></script>
    <script>
        $(document).ready(function() {
          user=dataset.User;
          news=dataset.news;
          comments=dataset.comments;
          //news render
          $(".current").append(`
            <h1 class="text-center yel_line current__title">${news.name}</h1>
            <img src="../images/${news.name}.jpeg" alt="img" class="current__img">
            ${news.content}`);
          $('p.headline__category').append(news.time.substring(0,10));
          //comments render
          let commentsdiv=$('#comments');
          for (var i = 0; i < comments.length; i++) {
            commentsdiv.append(`
              <div class="comments__media">
                <div class="media-middle">
                    <i class="media-object" style="background-image: url('img/content/comment.png')"></i>
                    <div class="comm_info">
                        <h4 class="media-heading">${comments[i].user.name}</h4>
                        <span class="time">${comments[i].time.substring(0,10)}</span>
                    </div>
                    <i class="glyphicon glyphicon-remove" style="float:right;cursor:pointer;display:none"></i>
                </div>
                <p class="media-body">${comments[i].content}</p>
            </div>`);
          }
          //评论
          $('.btn-comment').on('click', function(event) {
            if(user.null){
              location.href='/sign';
            }else {
              let name=news.name;
              let content=$('#content').val();
              $.ajax({
                url: '/comment',
                type: 'POST',
                data: {
                  name: name,
                  content: content
                }
              })
              .done(function(res) {
                console.log("success");
                console.log(res);
                if(res.state){
                  location.reload();
                }else {
                  alert(res.info);
                }
              })
              .fail(function() {
                console.log("error");
              })
              .always(function() {
                console.log("complete");
              });
            }
          });
          //if have userinfo change view
          if(!user.null){
            $(".sign").hide();
            $(".logout").show();
            $(".userName").text("hello,"+user.name);
            // if(user.authority==1){
            //   $(".headline__category_red").show();
            //   $(".glyphicon-remove").show();
            //   $("#delete").on('click', function(event) {
            //     if(!$("#delete").hasClass("disabled")){
            //       $("#delete").text('删除中...').addClass('disabled');
            //       $.ajax({
            //         url: '/delete',
            //         type: 'POST',
            //         data: {name: news.name,type:"news"}
            //       })
            //       .done(function(res) {
            //         console.log("success");
            //         if(res.state){
            //           $("#delete").text('已删除');
            //         }
            //         $(".modal-body").text(res.info);
            //         location.href = "/";
            //       })
            //       .fail(function() {
            //         console.log("error");
            //       })
            //       .always(function() {
            //         console.log("complete");
            //       });
            //
            //     }
            //   });
            //   $('.glyphicon-remove').on('click', function(event) {
            //     let index=$('.glyphicon-remove').index(this);
            //     $.ajax({
            //       url: '/delete',
            //       type: 'POST',
            //       data: {id: comments[index]._id,type:"comment"}
            //     })
            //     .done(function(res) {
            //       console.debug(res);
            //       location.reload();
            //     })
            //     .fail(function() {
            //       console.log("error");
            //     })
            //     .always(function() {
            //       console.log("complete");
            //     });
            //   });
            // }
          }

        });
    </script>
    </body>
</html>
